.timeline {
    list-style: none;
    padding-left: 20px;
    position: relative;
}
  
.timelineItem {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;
}

.timelineItem:last-child {
    margin-bottom: 0;
}
  
.timelineItem::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    bottom: -10px;
    width: 1px;
    background-color: #d9d9d9;
}
  
.timelineDot {
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
} 

.timelineContent {
    margin-left: 1rem;
    color: var(--black);
}
  
.timelineDot-purple {
    background-color: var(--highlight-purple);
}

.timelineDot-green {
    background-color: var(--highlight-green);
}

.timelineDot-pink {
    background-color: var(--highlight-pink);
}

.timelineDot-yellow {
    background-color: var(--highlight-yellow);
}
  
.timelineIcon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: var(--white);
    left: -9px;
    padding: 0.5rem;
}
  

.issue {
    padding: 2px 6px;
}

.storyTitle a {
    font-size: 1.3rem;;
    text-decoration: none;
}

.storyTitle:hover {
    text-decoration: underline;
}

.dates {
    font-size: 0.9em;
    font-family: var(--mono);
    color: var(--quicksand);
}