.feed {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin: 2rem auto 4rem auto;
  width: 90vw;
  max-width: 800px;
  background: var(--white);
}

@media (min-width: 1024px) {
  .feed {
    width: 50vw;
  }
}

.fullItem {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.5px solid var(--gray);
  transition: all 0.2s ease-in-out;
}

.fullItem:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow);
}

.cover {
  flex: 0 0 40%;
  overflow: hidden;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post {
  flex: 1;
  transition: all 0.2s ease-in-out;
}

.post h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.post a {
  transition: all 0.5s ease-in-out;
}

.post a:hover {
  text-decoration: none;
}

.post a p:hover {
  background: var(--white);
  padding: 0.5rem;
}

.intro {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.meta {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  color: var(--purple);
  font-size: 0.8rem;
}
