.page {
  padding: 2rem;
  margin-bottom: var(--margin-bottom);
  background: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.header h1 {
  font-size: 1.8rem;
}

.header img {
  width: 50px;
}

.form,
.oauth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.form input,
.form button,
.oauth button {
  border-radius: 0px;
  border: none;
  height: 50px;
}

.form input {
    border: 0.25px solid var(--black);
    padding: 0.5rem;
}

.form button {
  background: var(--purple);
}

.oauth button {
    background: var(--mercury);
    color: var(--black);
}

.muted {
    color: var(--quicksand);
}

.muted a {
    color: var(--black);
}

.cite {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}