.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);

    z-index: 1;
    pointer-events: auto;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.footer img {
    flex-shrink: 0;
}
  
.footerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
}
  
.footerLink {
    margin: 10px;
}
  
.footerLink:link {
    text-decoration-line: underline;
    text-decoration-style: wavy; 
    text-decoration-thickness: 1px;
}
  
.footerIcon {
    width: 20px;
    display: block;
    margin: 5px;
    transition: all 0.3s ease;
}

.footerIcon:hover {
    scale: 1.2;
    cursor: pointer;
}

.iForm {
    padding: 20px 5px 0.5rem;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    text-transform: lowercase;
}

.button {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px dashed var(--black);
    background-color: var(--highlight-yellow);
    color: var(--black);
    font-weight: 600;
}