.header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: var(--white);
    width: 100%;
    border-bottom: 1px solid var(--black);
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navButton {
    padding: 0.25em 1em;
    background-color: var(--white);
    border: 2px dotted var(--highlight-yellow);
    border-radius: 50px;
}
  
.navButton:hover {
    background-color: var(--highlight-yellow);
}
  
.navLinks {
    padding: 10px 5px;
    display: flex;
    gap: auto;
    align-items: center;
}