.header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
    /* background-color: var(--highlight-yellow); */
    width: 100%;
    /* border-bottom: 1px solid var(--black); */
}

.navbarAction {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.navLogo {
    background-color: var(--white);
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--black);
    height: calc(4rem - 20px);
    width: calc(4rem - 20px);
}

.navLogo img {
    width: 100%;
    height: 100%;
    align-self: center;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
}

.navbarItem {
    padding: 0.25em;
    font-size: 1.2rem;
    align-items: center;
    border: 0.75px solid var(--black);
    transition: transform 0.2s;
}
  
.navbarItem:hover {
    background-color: var(--mercury);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.navbarItem a:hover {
    text-decoration: none;
    color: var(--black);
}
