.header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: var(--highlight-yellow);
    width: 100%;
    /* border-bottom: 1px solid var(--black); */
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbarAction {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.navLogo {
    background-color: transparent;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navLogo img {
    width: 20px;
    height: 20px;
    align-self: center;
}

.navButton {
    padding: 0.25em 1em;
    font-size: 1.2rem;
}
  
.navButton:hover {
    background-color: var(--highlight-yellow);
}
  
.navLinks {
    padding: 10px 5px;
    display: flex;
    gap: auto;
    align-items: center;
}