@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --garamond: "EB Garamond", serif;
  --playfair: "Playfair Display", serif;
  --white: #fffff8;
  --black: #111111;

  /* brand colors */
  --green: #a3b847;
  --khaki: #e4cca3;
  --purple: #d1c8ce;
  --pink: #f6c3b2;

  /* highlighters */
  --highlight-green: #cdda53;
  --highlight-yellow: #f8ef69;
  --highlight-purple: #72589f;
  --highlight-pink: #be629f;

  --margin-bottom: 350px;
  --max-with: 1000px;

  --fade-out: linear-gradient(to bottom, var(--white) 85%, rgba(255, 255, 255, 0));
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: var(--garamond);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: text-decoration 1s ease-in-out, color 0.5s ease-in-out;
}

a:hover {
  color: var(--highlight-purple);
  text-decoration: underline wavy 1px;
}

h1, h2, h3, h4 {
  font-family: var(--playfair);
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  text-decoration: underline;
}

h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

hr {
  width: 100%;
  margin: 20px 0px;
  border: 0.5px solid var(--highlight-green);
}

ul {
  margin-left: 1em !important;
  margin-top: 0px !important;
  padding: 0px !important;
  font-size: .9em;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #a3b847;
  font-weight: bold;
  display: inline-block; 
  width: 0.8em;
}

li {
  padding: 0.35em 0px !important;
}

div:has(> blockquote) {
  background-color: #ededed;
  margin: 10px auto 0px;
  padding: 15px;
  border-top: 0.5px solid var(--black);
}

blockquote {
  font-size: 1.8em;
  font-style: italic;
}

blockquote + p {
  width: 55%;
  margin-right: 40px;
  text-align: right;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

cite {
  size: 0.5rem;
}

button {
  border: 0.5px dotted var(--black);
  padding: 3px 4px 0px;
  margin: 0px 5px;
  background-color: transparent;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--purple);
  cursor: pointer;
}