.page {
  padding: 1rem 0.25rem;
  margin-bottom: var(--margin-bottom);
  background: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 30px;
  margin-top: 53px;
  background: var(--white);
}

.main ol {
  padding-left: 0;
  margin: 0;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  text-align: center;
}

.header h2 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.header p {
  text-align: center;
  font-style: italic;
}

.authorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.authorGrid a {
  color: var(--black);
  transition: scale 0.2s ease-in-out;
}

.authorGrid a:hover {
  text-decoration: underline 2px var(--mercury);
  scale: 1.05;
}

.authorMeta {
  display: flex;
  flex-direction: column;
}

.authorMeta h5 {
  margin: 0;
  font-size: 1.2rem;
}

.authorMeta p {
  margin: 0;
  color: var(--quicksand);
}

.people {
  max-width: var(--max-width);
}

.people h4 {
  margin: 1rem 0;
  color: var(--black);
  font-size: 1.2rem;
  text-decoration: none;
}

.people p {
  margin: 0 0 1rem 0;
  text-align: left;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--black);
}

.peepsImg {
  width: 10rem;
}

.roles {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--black);
}

.dates {
  font-family: var(--mono);
  font-size: 0.8em;
  color: var(--khaki);
}

.issue {
  border: 0.5px dotted var(--black);
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0px 5px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
