.box {
    display: flex;
    flex-direction: column;
    border-top: 0.5px dotted var(--black);
}

.icon {
    display: flex;
    width: 3rem;
    justify-items: center;
    transition: transform 0.3s ease;
    margin: 0.44rem;
}

.icon img,
.icon svg {
    max-width: 100%;
    transition: transform 0.3s ease;
}

.box button {
    margin: 0.44rem;
    width: 3rem;
    height: 3rem;
}

.icon:hover {
    transform: scale(1.05);
}

.icon img:hover,
.icon svg:hover {
    transform: scale(1.1);
}