.page {
  min-height: 100svh;
  background: var(--white);
}

.main {
  margin-top: 66px;
  width: 87.5%;
  padding-left: 12.5%;
  margin-right: auto;
}

.title {
  border: 0.5px solid var(--black);
}

.title h1 {
  text-transform: uppercase;
  font-size: 5rem;
  border-bottom: 0.5px solid var(--black);
  font-weight: 400;
}

.title h4 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 2rem;
}

.header {
  margin: 2rem 0;
  background: var(--gray);
  padding: 0.25rem;
  border: 1px dotted var(--black);
}

.indexToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.caretOpen {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.caretClosed {
  transform: rotate(-90deg);
  transition: transform 0.2s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  transition: max-height 0.25s ease;
}

.story {
  border-top: 0.5px solid var(--black);
  padding: 0.5rem;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.story:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow);
}

.story h3 {
  font-size: 1.2em;
}

.story h4 {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-weight: 500;
  text-decoration: none;
  text-transform: lowercase;
  margin-bottom: 10px;
  width: fit-content;
  padding: 0.2rem 0rem;
}

.story h4 a {
  border-bottom: 1px dotted var(--highlight-green);
  color: inherit;
}

.story h4::before {
  content: "#";
}

.story p a:hover {
  border-bottom: 1px dotted var(--highlight-pink);
  color: var(--highlight-pink);
}

.interviews {
  margin-top: 2rem;
}

.interviews h2 {
  font-size: 2rem;
}

.intGroup {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
}

.rest {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.essay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.columns {
  gap: 200px;
}

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fineprint {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-top: 2rem;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: var(--margin-bottom);
  background-color: var(--purple);
  padding: 40px 20px;
  border-top: 0.5px solid var(--black);
  border-bottom: 0.5px solid var(--black);
  box-sizing: border-box;
}

.fineprint p,
.fineprint h6 {
  font-family: var(--mono);
  margin-bottom: 0.5rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.25s ease;
  }

  .intGroup {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }

  .essay {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
