.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 30px;
  margin-top: 53px;
  background-color: var(--white);
}

.headerInfo h1, 
.headerInfo p {
  text-align: left;
}

.headerInfo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.share {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.share h4 {
  margin: 0;
  flex-shrink: 0;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--highlight-pink);
}

.share .button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted var(--highlight-purple);
  border-radius: 50%;
  background: transparent;
  transition: all 0.2s ease;
}

.share .button:hover {
  transform: scale(1.1);
}

.share .button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}