.container {
    display: flex;
    gap: 8px;
    align-items: right;
}

.item {
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    text-align: right;
    font-size: 0.7em;
}

.item:hover {
    background-color: var(--pink);
}

.subMenu {
    min-width: 8rem;
    background: white;
    border: 1px dotted #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.shortcut {
    margin-left: auto;
    font-size: 0.75rem;
    opacity: 0.6;
}
