.hoverCardContent {
    z-index: 50;
    background-color: var(--highlight-pink);
    padding: 5px 10px;
    color: var(--white); 
    box-shadow: var(--shadow);
    outline: none;
  
    animation: fadeIn 200ms ease-in-out;
  
    opacity: 1;
    transform: scale(1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

