.hoverCardContent {
    z-index: 50;
    background-color: var(--highlight-pink);
    padding: 5px 10px;
    color: var(--white);
    box-shadow: var(--shadow);

    transform-origin: var(--radix-hover-card-content-transform-origin);
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.hoverCardContent[data-state="open"] {
    opacity: 1;
    transform: scale(1);
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .hoverCardContent {
        transition: opacity 200ms ease-in-out;
    }
}
