.timeline {
    list-style: none;
    padding-left: 20px;
    position: relative;
}
  
.timelineItem {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 1.8em;
}

.timelineItem:last-child {
    margin-bottom: 0;
}
  
.timelineItem::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    bottom: -10px;
    width: 1px;
    background-color: #d9d9d9;
}
  
.timelineDot {
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
} 

.timelineContent {
    margin-left: 20px;
    color: var(--black);
}
  
.timelineDot-purple {
    background-color: var(--highlight-purple);
}

.timelineDot-green {
    background-color: var(--highlight-green);
}

.timelineDot-pink {
    background-color: var(--highlight-pink);
}

.timelineDot-yellow {
    background-color: var(--highlight-yellow);
}
  
.timelineIcon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: var(--white);
    left: -9px;
    padding: 4px;
}
  