.toast {
    margin-bottom: 8px;
    padding: 20px;
    border: 1px dotted var(--black);
    background-color: var(--highlight-yellow);
    color: var(--black);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
  
.toastActionButton {
    background-color: var(--black); 
    color: var(--white);
    padding: 6px 12px;
    border: none;
    height: 100%;
    cursor: pointer;
}

.toastActionButton:hover {
    background-color: var(--pink);
}

.toastCancelButton {
    background-color: var(--black);
    color: var(--white);
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

.toastCancelButton:hover {
    background-color: var(--muted-hover); /* Replace with actual CSS variable or color */
}
  